version: '3.9'

services:
  backend:
    build:
      context: ./ecommerce-backend
      dockerfile: Dockerfile
    ports:
      - "8081:8081"

  frontend:
    build:
      context: ./ecommerce-frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
